# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/
.env/

# Test and coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checking and linting
.mypy_cache/
.ruff_cache/
.pytest_cach/


# IDE/editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
